<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd">


    <import resource="dataSourceSpringConf.xml" />
    <import resource="serviceSpringConf.xml" />

	
<!-- with java config -->
<!-- 
    <bean class="tp.myapp.minibank.impl.config.DomainAndPersistenceConfig"/>
    <bean class="tp.myapp.minibank.impl.config.DataSourceConfig"/>
-->
    


</beans>